@use '@styles/abstracts' as *;

.body {
  padding: $spacing-8 $spacing-8 $spacing-6;
}

.message {
  font-size:     15px;
  line-height:   1.5;
  color:         $text-primary;
  margin-bottom: $spacing-8;
}

.actions {
  display:         flex;
  justify-content: flex-end;
  gap:             $spacing-3;
}
